* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    text-align: center;
}

header {
    background: #0b7285;
    color: white;
    padding: 20px;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

.carousel img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #0b7285;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #095c6d;
}

footer {
    background: #222;
    color: white;
    padding: 15px;
}


@media (max-width: 768px) {
    section {
        margin: 10px;
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    button {
        width: 100%;
    }
}